#index{
    background-image: url(bg_img.jpg);
}
#btn1{
    color: black;
    margin-left: 400px;
    background-color: white;
}
#btn2{
    color: white;
    margin-left: 50px;
}
#btn3{
    color: white;
    margin-left: 50px;
}
#btn4{
    color: white;
    margin-left: 50px;
}
.same:hover{
    background-color:grey;
    color: black;
    
}
#div1{
    margin-top: 50px;
    font-size: 20px;
}
.signinbtn{
    border: 1px solid black;
    background-color: whitesmoke;
    color: black;
}
#smt{
    font-size: 25px;
}
#signupform,#signinform{
    font-size: 25px;
    text-align: center;
    border: 2px solid blue;
    margin-top: 20px;
    border-radius: 60px;
    background-color: lightcyan;
    margin-left: 100px;
    margin-right: 100px;

}
#smt:hover{
    color: white;
    background-color: grey;
}
.signinbtn:hover{
    color: white;
    background-color: grey;
}
.REGISTERD{
    color: deeppink;
    text-align: center;
    font-size: 50px;
}
#submit{
    background-image:url(bgimg.jpg);
}

